{% extends 'users/(base_login_auth).html' %}

{% block title %}
Login
{% endblock %}

{% block header %}
Войдите в аккаунт
{% endblock %}

{% block subtitle %}
Рады видеть вас снова. Введите данные для входа.
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Войти</button>
</form>
{% endblock %}

{% block auth_links %}
<div class="auth-link">
    Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a>
</div>
{% endblock %}