{% extends 'main/base.html' %}

{% block title %}Cooperation{% endblock %}

{% block content %}

<section class="cooperation-section">
    <div class="cooperation-card">

        <h1 class="cooperation-title">
            Сотрудничество
        </h1>

        <div class="cooperation-info">
            <p>
                <!-- Здесь укажи адрес -->
                <strong>Почта:</strong> WhinstonRobert@protonmail.com
            </p>

            <p>
                <!-- Здесь укажи номер телефона -->
                <strong>Телефон:</strong> +7 (977) 474-94-91
            </p>
        </div>

        <div class="cooperation-description">
            <!-- Здесь опиши предложение о сотрудничестве -->
            <p>
                Приветствую на странице сотрудничества! Данная страница создана в целях поиска желающих
                поучавствовать в разработке сайта, прошу вас обратиться по данным выше если вас заинтересовало
                данное предложение. Спасибо что помогаете!
            </p>
        </div>

    </div>
</section>

{% endblock %}
