{% extends 'main/base.html' %}

{% block title %}Support{% endblock %}

{% block content %}

<section class="support-section">
    <div class="support-card">

        <p class="support-text">
            Если возникли проблемы — обратитесь в службу поддержки по кнопке ниже
        </p>

        <div class="support-button-wrapper">
            <!-- Сюда позже можно поставить ссылку на форму или почту -->
            <a href="#" class="btn signup support-main-btn">
                Обратиться в службу поддержки
            </a>
        </div>

    </div>
</section>

{% endblock %}
